@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    }

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#img-logo{
    width: 100%;
    margin: auto;
    padding: 15px;
}

img{
    width: 100%;
}


main {
    height: 60vh;
    width: 20vw;

    min-width: 300px;
    }

form {
    display: flex;
    flex-direction: column;
    margin-top: 30%;
    gap: 15px;
}

input {
    width: 100%;
    height: 30px;
    padding-left: 10px;
    border: 0;
    border-bottom: 1px solid #828282;
}
    input:focus{
        outline: none;
        background-color: #CCCCCC;
        border-radius: 5px 0;
    }


button {
    height: 35px;
    border: 0;
    border-radius: 5px;
    color: #EFEFEF;
    background-color: #F47920;
    font-weight: 500;
    font-size: 18px;
    margin-top: 10px;
}
    button:hover {
        background-color: #DB6C1D;
        cursor: pointer;
        }