{% extends "base.html" %}
{% block content %}

<main class="col-8 m-auto">
    <div class="card m-4 p-4">
        <!-- {% set messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-success" role="alert">
                {% for msg in messages %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %} -->
        <div class="d-flex justify-content-between">
        </div>
        <form method="POST" action="{{ add_new_peripheral }}" name="add_product" class="d-flex flex-column">
            <label for="name_peripheral">Nome</label>
            <input class="mb-3 col-12 form-control" type="text" name="name_peripheral" value=""
                required>
            <label for="manufacturer">Fabricante</label>
            <select class="mb-3 col-12 form-control" name="manufacturer" aria-controls="table">
                    <option value=""></option>
                {% for manufacturer in manufacturers %}
                    <option value="{{manufacturer.id}}">
                    {{manufacturer.name}}
                    </option>
                    {% endfor %}
            </select>

            <label for="serial">Serial</label>
            <input class="mb-3 col-12 form-control" type="text" name="serial" value="" required>
            <label for="status">Status</label>
            <select class="mb-3 col-12 form-control" name="state" aria-controls="table">
                <option value=""></option>
                {% for state in states %}
                <option value="{{state.id}}">{{state.name}}
                </option>
                {% endfor %}
            </select>
            <label for="status">Entidade</label>
            <select class="mb-3 col-12 form-control" name="entitie" aria-controls="table">
                <option value=""></option>
                {% for entitie in entities %}
                <option value="{{entitie.id}}">{{entitie.name}}
                </option>
                {% endfor %}
            </select>
            <button class="btn btn-success" type="submit">Adicionar</button>
        </form>
    </div>
</main>

{% endblock %}