{% extends "base.html" %}
{% block content %}

<main class="col-8 m-auto">
    <div class="card m-4 p-4">
        <!-- {% set messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-success" role="alert">
                {% for msg in messages %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %} -->
        <div class="d-flex justify-content-between">
            <p class="h3"></p>
            <form action="" method="post">
                <input type="hidden" name="id" value="">
                <button class="btn btn-danger" type="submit">Excluir</button>
            </form>
        </div>
        <form method="POST" action="" name="edit_product" class="d-flex flex-column">
            <input type="hidden" name="id" value="">
            <label for="name_product">Nome</label>
            <input class="mb-3 col-12 form-control" type="text" name="name_product" value="" required>
            <label for="manufacture">Fabricação</label>
            <input class="mb-3 col-12 form-control" type="text" name="manufacture" value="" required>
            <label for="serial">Serial</label>
            <input class="mb-3 col-12 form-control" type="text" name="serial" value="" required>
            <label for="status">Status</label>
            <select class="mb-3 col-12 form-control" name="status" aria-controls="table" value="">
                <option value="1">Ativo</option>
                <option value="2">Em Manutenção</option>
                <option value="3">Descarte</option>
                <option value="4">Backup</option>
                <option value="5">Inativo</option>
            </select>
            <button class="btn btn-primary" type="submit">Atualizar</button>
        </form>
    </div>
</main>

{% endblock %}